/* .\src\components\HeaderSection.module.css */

.headerContainer {
    width: 98%;
    min-width: 250px;
    max-height: 90px;
    font-size: 0.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* background-color: #e3e3e3; */
}

.headerContainer h1 {
    color: #39230d;
    margin: 5px 0;
}

.headerContainer p {
    font-style: italic;
    margin: 0;
    padding-top: 10px;
    text-align: right;
    border-top: 2px solid #b76565;
}